<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/pages/donordashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Udaan</title>
  </head>
  <body style="background-color: rgb(244, 241, 235);">

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="/images/udaan White.png" width="120" height="40" class="d-inline-block align-top" alt="">
        </div>
      
    </div>
  </nav>

    <div class="wrapper">

		<div class="container payment-form-margin">
			<main><div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <h5 class="card-header header">Congratulations, Donation Successful!</h5>
            
                        <div class="card-body">
                            <p class="card-text font-weight-bold">Thank you for contributing to Udaan Foundation.</p>
            
                            <dl class="row mt-2">
                                <dt class="col-sm-3">Order ID</dt>
                                <dd class="col-sm-9" id="orderId"><%- paymentDetail.orderId %>  </dd>
                                                    
                                <dt class="col-sm-3">Transaction ID</dt>
                                <dd class="col-sm-9" id="orderId"><%- paymentDetail.paymentId %>  </dd>
            
                                <dt class="col-sm-3">Signature</dt>
                                <dd class="col-sm-9" id="orderId"><%- paymentDetail.signature %>  </dd>
            
                                <dt class="col-sm-3">Amount</dt>
                                <dd class="col-sm-9"><%- paymentDetail.amount/100 %> Rs. </dd>
            
                                <dt class="col-sm-3">Created at</dt>
                                <dd class="col-sm-9"><%- paymentDetail.createdAt %> </dd>
                            </dl>
            
                            <a href="/donor/dashboard" type="button" class="btn btn-secondary btn-lg btn-block ">Dashboard</a>
                            <a href="/donor/donations" type="button" class="btn btn-secondary btn-lg btn-block ">My Donations</a>
                        </div>
                    </div>
                </div>
            </div></main>	
            <div class="text-center" target="_blank"> <img referrerpolicy="origin" src = "https://badges.razorpay.com/badge-dark.png " style = "height: 55px; width: 150px; margin-top: 50px;" alt = "Razorpay | Payment Gateway | Neobank"></div>		
		</div>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2023 Copyright:
            Udaan Foundation
          </div>
    </div>
</body>

</html>